{% extends 'base.html.twig' %}

{% block title %}Nouveau ticket{% endblock %}

{% block body %}
<div class="col-lg-6">
    <div class="card shadow m-3">
        <div class="card-header">
            <h6>{{ block('title') }}</h6>
        </div>
        <div class="card-body">
            {{ form_start(form) }}
                <div class="row">
                    <div class="col-12">{{ form_row(form.title) }}</div>
                </div>
                <div class="row">
                    <div class="col-12">{{ form_row(form.dateStart) }}</div>
                </div>
                <div class="row">
                    <div class="col-12">{{ form_row(form.description) }}</div>
                </div>
                <button class="btn btn-primary btn-block">Créer</button>
            {{ form_end(form, {'render_rest': false}) }}
        </div>
    </div>
</div>
    
{% endblock %}
